<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <% if (todos.length > 0) { %>
    
      <ul>
        <% todos.forEach(function(t) { %>
          <form action="/id ?_method=DELETE" method="POST">
          <li>
            <%= t.todo %>
            - 
            <% t.done ? 'done' : 'not done' %> <button type="submit">Delete</button>
          </form>
          </li>
          <% }); %>  
        </ul>
        <% } else { %>
        <h3><%= "There are no To Dos yet!" %></h3>
        <% } %>
<hr>
    <form action="/new" method="POST">
      <input type="text" name="todo">
      <button type="submit">Add Todo</button>
    </form>
  
  </body>
</html>
