<!DOCTYPE html>
<html>
  <head>
    <title>Unit 2 Assessment</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>To Do List</h1>
    <% if (todo.length > 0) { %>
    <h3><%= todo.todo && todo.done %></h3>
    <% } else { %>
    <h3><%= "There are no To Dos yet!" %></h3>
    <% } %>
  <ul>
    <% todos.forEach(function(t) { %>
      <li>
        <%= t.todo %>
        - 
        <% t.done ? 'done' : 'not done' %>
      </li>
    <% }); %>

  </ul>
<hr>
    <form action="/todos/" method="POST" autocomplete="off">
      <input type="text" name="todo">
      <button type="submit">Add Todo</button>
    </form>
    <form action="/todos/" class="delete-form" method="DELETE">
      <button type="submit">X</button>
    </form>
  </body>
</html>
